<mat-progress-bar mode="indeterminate" *ngIf="!error && loading"></mat-progress-bar>
<mat-card>
  <mat-card-title>
    AMRS Universal IDs
  </mat-card-title>
  <mat-card-content>
    
    <mat-form-field class="input-full-width">
      <input matInput [(ngModel)]="number" (ngModelChange)="checkNumber($event)" type="number" minlength="1" maxlength="500" placeholder="Enter Number of Identifiers to generate..."/>
    </mat-form-field>
    <span style="color: red;" *ngIf="numberError">{{ numberError }}</span>
    <mat-form-field class="input-full-width">
      <input matInput [(ngModel)]="password" type="paswword"(ngModelChange)="checkPass($event)" placeholder="Enter Password for the PDF to be generate..."/>
    </mat-form-field>
    <span style="color: red;" *ngIf="passwordError">{{ passwordError }}</span>
    <br><br>
    <button class="center" color="primary" mat-raised-button (click)="generate()">Generate Universal ID</button>
    
  </mat-card-content>
  

</mat-card>

<!-- <mat-card>
  <mat-card-title>
    ZURI Health IDs
  </mat-card-title>
  <mat-card-content>
    
    <mat-form-field class="input-full-width">
      <input matInput [(ngModel)]="zuriNumber" (ngModelChange)="checkZuri($event)" type="number" minlength="1" maxlength="5000" placeholder="Enter Number of Identifiers to generate..."/>
    </mat-form-field>
    <span style="color: red;" *ngIf="numberZError">{{ numberZError }}</span>
    <br><br>
    <button class="center" color="primary" mat-raised-button (click)="generateZuri()">Generate ZURI ID</button>
    
  </mat-card-content>
  

</mat-card> -->

<mat-card *ngIf="error">
  <div class="alert alert-danger">{{ errorMessage }}</div>
</mat-card>
<mat-card *ngIf="success">
  <div class="alert alert-success">{{ success }}</div>
</mat-card>